body {
  background: #222222;
  color: #ddddcc;
  font-family: 'Zilla Slab', serif;
  overflow: hidden;
}

header {
  background: #ddddcc;
  color: #222222;
}

header h1 {
  font-size: 2.4rem;
}

input[type=text] {
  display: inline-block;
  font-size: 1rem;
  color: #ddddcc;
  border: 5px solid #ddddcc;
  padding: 2px;
  padding-left: 7px;
  margin-left: 30px;
  background: #666655;
  margin: 0 0 10px 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
