body {
  background: #222222;
  color: #ddddcc;
  font-family: 'Josefin Slab', serif;
  overflow: hidden;
  overflow-y: scroll;
}

.cocktail-ui-container {
  width: 520px;
  margin: 0 auto;
}

header {
  display: grid;
  height: 20vh;
  width: 95%;
  margin: 0 auto;
  grid-auto-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
  background: #ddddcc;
  color: #222222;
}

header h1 {
  font-size: 3rem;
  baseline-shift: 10px;
  text-decoration: underline;
  grid-row: 1/3;
  grid-column: 1/4;
}

header .search-cocktails {
  grid-row: 3/4;
  grid-column: 1/3;
}

header .error {
  font-weight: bold;
  color: #883344;
  padding-top: 4%;
  grid-row: 3/4;
  grid-column: 3/4;
}

input[type=text] {
  font-family: 'Josefin Slab', serif;
  display: inline-block;
  font-size: 1rem;
  color: #ddddcc;
  border: 5px solid #ddddcc;
  padding: 2px;
  padding-left: 7px;
  margin-left: 30px;
  background: #666655;
  margin: 0 0 10px 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

footer {
  display: block;
  width: 95%;
  position: relative;
  margin: 0 auto;
  padding-top: 5vh;
  bottom: 5%;
}
