ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cocktail {
    width: 95%;
    margin: 0 auto;
    border-bottom: 3px solid #ddddcc;
}

.cocktail h1 {
    /* padding-bottom: 4px; */
    line-height: 0.8em;
    display: block;
}

.details {
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-auto-rows: 20vh 1fr;
    justify-items: center;
    overflow: hidden;
    height: auto;
    max-height: 0px;
    transition: max-height 0.2s ease-in;
}
.details.anim-expand {
    max-height: 270px;
}
.details.anim-collapse {
    height: 0px;
}


.ingredients {
    grid-row: 1/2;
    grid-column: 1/2;
}

.glass {
    text-justify: center;
}

.image {
    position: relative;
    bottom: 10%;
    grid-row: 1/2;
    grid-column: 2/3;
    height: 18vh;
    width: 18vh;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 
        0 0 0px 4px #222222,
        /* 0 0 0px 5px #888877; */
        0 0 0px 5px #ddddcc;
    border-radius: 50%;
    margin: 6px;
}

.instructions {
    grid-row: 2/3;
    grid-column: 1/3;
    margin: 20px;
}
